body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    padding: 0;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #000000;
  }
  
  .active {
    background-color: #28aeff;
  }

.about-section {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.about-section h2 {
    border-style: outset;
    font-family: 'Oxygen', sans-serif;
    color: #333;
    margin-top: 0;
}

.about-section p {
    line-height: 1.5;
    color: #555;
}

.team-member h3 {
    margin: 10px 0;
}

.team-member p {
    color: #777;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 16px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #000000;
}

.active {
    background-color: #28aeff;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: blue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

h2 {
    color: #373535;
    text-shadow: 2px 2px 4px #28aeff;
}

.find-property img{
    max-width: 800px;
    max-height: 600px;
    padding-left: 80px;
}

.agents-property img{
    max-width: 800px;
    max-height: 600px;
    padding-left: 80px;
}
.banks-property img{
    max-width: 800px;
    max-height: 600px;
    padding-left: 80px;
}
.developers-property img{
    max-width: 800px;
    max-height: 600px;
    padding-left: 80px;
}


.team-property img {
    max-width: 150px;
    border-radius: 50%;
}



.about-section h1{
    text-decoration: overline;

}



.team-property {
    display: block;
    float:left;
    width: 310px;
}


