@font-face {
  font-family: 'Brulia Display';
  src: url('Brulia-Display.eot');
  src: local('Brulia Display'), local('Brulia-Display'),
      url('Brulia-Display.eot?#iefix') format('embedded-opentype'),
      url('Brulia-Display.woff2') format('woff2'),
      url('Brulia-Display.woff') format('woff'),
      url('Brulia-Display.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brulia Text';
  src: url('Brulia-Text.eot');
  src: local('Brulia Text'), local('Brulia-Text'),
      url('Brulia-Text.eot?#iefix') format('embedded-opentype'),
      url('Brulia-Text.woff2') format('woff2'),
      url('Brulia-Text.woff') format('woff'),
      url('Brulia-Text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: Montserrat;
}
body {
    margin: auto;
}
header {
    padding: 5px;
    text-align: center;
    background-color: #000000;
}
.gif {
    float: right;
    position: absolute;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 26px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #28aeff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 57px 0;
    list-style: none;
    background-color: #ffffff;
    opacity: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #000000;
    font-family: Montserrat-ExtraBold, sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    color: black;
    background-color: #28aeff;
    transform: scale(110%);
  }
  .a {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 16px;
    position: static;
    text-align: center;
  }
  .b {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: static;
    text-align: center;
  }
  .b > a {
    text-decoration: none;
    color: #28aeff;
  }
  .b > a:hover {
    color: red;
  }
  .headers {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 30px;
  }
  .a {
    margin-top: 10%;
    position: relative;
    left: 0px;
    right: 0px;
  }
  .b {
    position: relative;
    left: 0px;
    right: 0px;
  }
  footer {
    color: white;
    background-color: #28aeff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    position: static;
    z-index: 99;
}
